<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head></head>
<body>
  <p>
    Dear Admin, <br /> Below list of peoples are due from <span th:text="${months}"></span> months<br />
  <p>List Prepared date is <span th:text="${date}"></span></p>
  list
  <div th:if="${not #lists.isEmpty(applicants)}">
    <table border="1" class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Due</th>
      </tr>
      <tr th:each="applicant : ${applicants}">
        <td th:text="${applicant.name}"></td>
        <td th:text="${applicant.dateOfBirth}"></td>
        <td th:text="${applicant.phone}"></td>
        <td th:text="${applicant.email}"></td>
        <td th:text="${applicant.initBalance - applicant.closeBalance}"></td>
      </tr>
    </table>
  </div>
  <br />
  <p>Thank you</p>
</body>
</html>