<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Confirm Registration</title>
<style type="text/css">
.p {
  margin: 0px;
  padding: 0px;
}
</style>
</head>
<body id="index" class="home">
  <br />
    <ol id="posts-list" class="hfeed" style="margin-left: 5%;">

        <p>Aan,</p>
        <tabel>
        <tr>Naam:</td><td th:text="${applicant.name}"></td></tr>
        <tr>Adres:</td><td th:text="${applicant.address.street}"></td></tr>
        <tr>Pc/Woonplaats:</td><td th:text="${applicant.address.city}"></td></tr>
        </tabel>
        <br />
        <p>Rotterdam, <span th:text="${date}"></span></p>
        <p>Betreft : nieuw lidmaatschap</p>
        <p>Geacht Ouders,</p>
        <br />
        <p>Hierbij bevestigt het bestuur van st. Begrafenis Comissie Ghausia u lidmaatschap.</p>
        <p>Registratie nr : <span th:text="${applicant.formatedId}"></span>.</p>
        <p>Graag deze nummer melden bij alle vervolg communicaten en bij het overmaken van donatie. 
        De donatie kan over gemaakt worden op volgende rekening nummer.</p>
        <p>IBAN NL79 ABNA 0543 4484 28</p>
        <p>te name van St. Ghausia Begrafenis Commissie.</p>
        <p>Hopend u hiermee voldoende te hebben geinformeerd.</p>
        <br />
        <p>Met vriendelijke groet,</p>
        <p>Bestuur st.GBC</p>
  
    </ol>
    <br/>
</body>
</html>